DICTIONARY
- how to declare list
- how to access key and values of a dictionary
- how to use loops in dictionary

In [2]:
student = {
    'name' : 'John',
    'class' : '12th',
    'roll_no' : 12,
    'age' : 17
}
print(student)

{'name': 'John', 'class': '12th', 'roll_no': 12, 'age': 17}

In [3]:
temp ={
    'lucknow' : [25,30,35],
    'delhi': [30,35,40],
    'chennai' : [24,23,22]
}
print(temp)

{'lucknow': [25, 30, 35], 'delhi': [30, 35, 40], 'chennai': [24, 23, 22]}

In [4]:
info = dict(name='Riya', age=27, dept= 'HR',salary = 10000)
print(info)

{'name': 'Riya', 'age': 27, 'dept': 'HR', 'salary': 10000}

In [5]:
info2 = dict(name=input("Enter the name"),age =int(input("Enter the age")), dept=input("Enter the dept"), salary=int(input("enter the salary")))
print(info2)

{'name': 'John', 'age': 25, 'dept': 'Finance', 'salary': 300000}

In [7]:
#1st method
print(student['name'])
print(student['roll_no'])

John
12

In [8]:
#2nd method
print(student.get('name'))
print(student.get('age'))

John
17

In [9]:
#to add items  in a dictionary
student['school'] = 'DPS'
student['city'] = 'Lucknow'
print(student)

{'name': 'John', 'class': '12th', 'roll_no': 12, 'age': 17, 'school': 'DPS', 'city': 'Lucknow'}

In [10]:
for x in student:
    print(x)

name
class
roll_no
age
school
city

In [13]:
for k, v in student.items():
    print(f'{k} : {v}')

name : John
class : 12th
roll_no : 12
age : 17
school : DPS
city : Lucknow

In [15]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'class', 'roll_no', 'age', 'school', 'city'])
dict_values(['John', '12th', 12, 17, 'DPS', 'Lucknow'])
dict_items([('name', 'John'), ('class', '12th'), ('roll_no', 12), ('age', 17), ('school', 'DPS'), ('city', 'Lucknow')])

In [17]:
company = {
    'emp001' : {
        'name' : 'John',
        'age'  : 27,
        'dept'  : 'HR',
        'salary' : 300000 
    },
    'emp002' : {
        'name' : 'Riya',
        'age'  : 25,
        'dept'  : 'IT',
        'salary' : 400000 
    },
    'emp003' : {
        'name' : 'Hike',
        'age'  : 30,
        'dept'  : 'Finance',
        'salary' : 500000 
    }
}
print(company)

{'emp001': {'name': 'John', 'age': 27, 'dept': 'HR', 'salary': 300000}, 'emp002': {'name': 'Riya', 'age': 25, 'dept': 'IT', 'salary': 400000}, 'emp003': {'name': 'Hike', 'age': 30, 'dept': 'Finance', 'salary': 500000}}

In [20]:
from pprint import pp

In [21]:
pp(company)

{'emp001': {'name': 'John', 'age': 27, 'dept': 'HR', 'salary': 300000},
 'emp002': {'name': 'Riya', 'age': 25, 'dept': 'IT', 'salary': 400000},
 'emp003': {'name': 'Hike', 'age': 30, 'dept': 'Finance', 'salary': 500000}}

In [22]:
print(company['emp001']['dept'])

HR

In [24]:
#add a new dictionary
company['emp004'] = {
        'name' : 'Sam',
        'age'  : 29,
        'dept'  : 'Admin',
        'salary' : 600000 
}
pp(company)

{'emp001': {'name': 'John', 'age': 27, 'dept': 'HR', 'salary': 300000},
 'emp002': {'name': 'Riya', 'age': 25, 'dept': 'IT', 'salary': 400000},
 'emp003': {'name': 'Hike', 'age': 30, 'dept': 'Finance', 'salary': 500000},
 'emp004': {'name': 'Sam', 'age': 29, 'dept': 'Admin', 'salary': 600000}}

In [26]:
print(temp['lucknow'][1])
print(temp['delhi'][2])

30
40

In [28]:
# average temperature of delhi
temp = sum('temp')/len('temp')
print(temp)

TypeError: unsupported operand type(s) for +: 'int' and 'str'