In [2]:
# for loop (list)
fruits = ['apple', 'mango', 'banana', 'orange', 'kiwi', 'grapes', 'papaya']
for x in fruits:
    print(x)

apple
mango
banana
orange
kiwi
grapes
papaya

In [5]:
# for loop (string)
a = "Hello world"
for x in a:
    print(x, end=" ")

H e l l o   w o r l d

In [6]:
# to print numbers using for loop
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [11]:
# name = 'saumya'
# for i in range(1, 6):
#     print(name)

for i in range(1, 6):
    print('Saumya')

Saumya
Saumya
Saumya
Saumya
Saumya

In [15]:
# to print numbers using gap (start ,end,gap)
for i in range(1,21,3):
    print(i)

1
4
7
10
13
16
19

In [18]:
# to print even numbers from 0 to 30
for i in range(0,31,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [24]:
# print odd number
for i in range(31):
    if i%2 != 0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [26]:
# print numbers using while loop
i = 1
while i <= 20:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [29]:
# to print name using while loop
i = 1
while i <= 5:
    print('I can do it, I am the best')
    i += 1

I can do it, I am the best
I can do it, I am the best
I can do it, I am the best
I can do it, I am the best
I can do it, I am the best

In [30]:
# print table
a = 15
for i in range(1,11):
    print(f'{a} * {i} = {a*i}')

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

In [1]:
# print table using while loop
a = 15
x=0
while x<=10:
    print(f'{a} * {x} = {a*x}')
    x+=1

15 * 0 = 0
15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

In [2]:
# break statement
a = [2,4,6,8,10,12,14,16,17,18,20]
for i in a:
    if i == 17:
        break
    print(i)

2
4
6
8
10
12
14
16

In [3]:
#continue statement
a = [2,4,6,8,10,12,14,16,17,18,20]
for i in a:
    if i == 17:
        continue
    print(i)

2
4
6
8
10
12
14
16
18
20

In [10]:
# printfirst 3 characters of your name
name = 'saumya'
for i in name:
    if i == 'm':
        break
    print(i, end="")

sau

In [11]:
# sum
a = [10,20,65,20]
total = 0
for i in a :
    total += i
print(total)

115

In [12]:
names = ['Saumya', 'Nisha', 'Ekta', 'Bhavya']
for i in names:
    print(i)

Saumya
Nisha
Ekta
Bhavya

In [13]:
for i, v in enumerate(names):
    print(f'{i}. {v}')

0. Saumya
1. Nisha
2. Ekta
3. Bhavya

In [15]:
items = ['pen', 'pencil', 'eraser','sharpner', 'scale', 'book', 'bag']
for i, v in enumerate(items):
    if i == 5:
        break
    print(f'{i}. {v}')

0. pen
1. pencil
2. eraser
3. sharpner
4. scale