Create

methods

set operation 

- union
- intersection 
- difference
- symmetric difference
- issubset
-issuperset

In [2]:
x = {2,5,4,2,5,7,6,7,3}
print(x)

{2, 3, 4, 5, 6, 7}

In [3]:
y = {1,2,3,4,5}
z = {1,2,3,4,5,6,5,4,4,5,6,7}
print(y)
print(z)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}

In [4]:
a = set("hello")
print(a)

{'l', 'h', 'o', 'e'}

In [5]:
b = set([1,4,2,4,5,3,6,7,3])
print(b)

{1, 2, 3, 4, 5, 6, 7}

In [6]:
c = set(range(11))
print(c)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [7]:
# to add data in a set
data = set()
data.add(12)
data.add(17)
data.add(2)
data.add(9)
data.add(3)
print(data)

{2, 3, 9, 12, 17}

In [9]:
# to remove data from set
#list method
data.pop()

3

In [10]:
print(data)

{9, 12, 17}

In [11]:
#2nd method
data.discard(9)

In [12]:
print(data)

{12, 17}

In [13]:
data.clear()
print(data)

set()

In [14]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = {7,8,9,10}
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10, 7}

In [16]:
# union in set
print(a.union(b))
print(a|b)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [18]:
#intersection
print(a.intersection(b))
print(a & b)

{4, 5}
{4, 5}

In [19]:
# difference
print(a.difference(b))
print(a-b)

{1, 2, 3}
{1, 2, 3}

In [20]:
print(a.issuperset(b))

False

In [23]:
print(a.issubset(b))

False